.top-section ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 2rem;
    justify-content: center;
    font-size: 16px;
    font-family: var(--font-family);
   
  }
  
  .top-section p{
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
}
  
  .top-section p:hover{
      text-decoration: underline rgb(11, 11, 79);
      font-weight: 600;
      cursor: pointer;
  }

  .top-section {
    color: white;
    padding: 1rem;
    position: absolute;
    margin-top: 1rem;
    width: 26rem;
    height: 3rem;
    margin-left: 1rem;
  }

  .bottom-navbar {
    background-color:rgb(28, 28, 151);
    height: 3rem;
    margin-left: 14rem;
    width: 14.2rem;
    display: flex;
    flex-direction: row;

}

.bottom-navbar p {
    color: white;
    margin-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    font-size: 0.77rem;
    
}


.arrow {
    margin-left: 6rem;
    margin-right: 1rem;
    margin-top: 0.7rem;
}

.arrow:hover {
    cursor: pointer;
}

.cross {
    margin-left: 6rem;
    margin-right: 1rem;
    margin-top: 0.7rem;
}
  
@media screen and (max-width: 1453px){
   
  
}

@media screen and (max-width: 1417px){
   

}

@media screen and (max-width: 1375px) {



}


@media screen and (max-width: 1207px) {
   



}

@media screen and (max-width: 1050px) {
    
}


@media screen and (max-width: 867px) {

   
}

@media screen and (max-width: 731px) {
    
}

@media screen and (max-width: 600px) {
   
}

@media screen and (max-width: 550px){
    .ontrack__header{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ontrack__header img{
        width: 20rem;
        align-items: center;
    }

    .header-logo-slog{
        margin-top: 2rem;
    }

    .header-logo-slog h2{
        font-weight: 100;
    }

}




