.ontrack__footer{
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}


.footer-btm-text ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 50px;
}


.footer-btm-text{
    border-top: rgb(0, 0, 0) 1px solid;
    padding-top: 1em;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1049px) {
    
}

@media screen and (max-width: 1050px) {
    .ontrack__header-image img{
     
    }

    .ontrack__header-content h1{
        
      
    }
    
    .ontrack__header-content p{
       
   
    }

}


@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
   

}
